<div class="new_edit_item">
  <div class="flex_wrapper">
    <h1>新規作成</h1>
    <form method="post" action="/memos">
      <div class="flex_item">
        <input type="text" name="memo_title">
      </div>
      <div class="flex_item">
        <textarea name="memo_content"></textarea>
      </div>
      <div class="flex_item send_btn">
        <button type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
