<div class="show_item">
  <h1>メモの詳細</h1>

  <h2>メモのタイトル</h2>
  <p><%= h(@memo["title"]) %></p>

  <h2>メモの内容</h2>
  <p><%= h(@memo["content"]) %></p>

  <div class="flex_wrapper">
    <div class="flex_item">
      <form method="get" action="/memos/<%= h(@memo["id"]) %>/edit">
      <button type="submit">変更</button>
      </form>
    </div>

    <div class="flex_item">
      <form method="post" action="/memos/<%= h(@memo["id"]) %>">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">削除</button>
      </form>
    </div>
  </div>
</div>
