
.flex_wrapper {
  display: flex;
  align-items:  center;
  justify-content: center;
}

.flex_item {
  margin-right: 5em;
  position: relative;
}

ul {
  position: absolute;
  top: 4em;
}

button {
  padding: 5px 40px 5px 40px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
